parameters:
    level: 5
    paths:
        - alt-text-generator-gpt-vision.php
        - includes/
    bootstrapFiles:
        - alt-text-generator-gpt-vision.php
    ignoreErrors:
        # Temporarily disabled because WordPress AI Client symbols are missing (the `szepeviktor/phpstan-wordpress` package is outdated)
        - '#Function wp_ai_client_prompt not found\.#'
        - '#(class|Interface|type|instantiated|method).*WordPress\\AiClient\\.*#'